
<div class="container">
 <nav class="navbar navbar-fixed-top navbar-dark  bg-primary">

      <a class="navbar-brand navbar-right pull-right">Angular Router</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="courses">Courses</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="">xxxxxx</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="">yyyyyyy</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="">zzzzzz</a></li>
      </ul>

</nav>
</div>
<div class="container">
<router-outlet></router-outlet>
</div>
